# Ignore virtual environment
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore all other models in trained_models except yolov8n_test
trained_models/*
!trained_models/yolov8n_test/

# Ignore road_detection folder
road_detection/

# Ignore common large files
*.zip
*.tar.gz
*.h5
*.ckpt

# Ignore system files
.DS_Store
Thumbs.db
